body{
    font-family: sans-serif;
    background-color:  rgb(245, 245, 245);
}

h1{
    font-size: 24PX;
    color: #242424;
    font-weight: 900;
}
h2{
    font-size: 20PX;
    color: #606060;
    font-weight: 800;
}
p{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}
ul{
    font-family: monospace;
    font-size: 18px;
    margin-left: 100px;
    padding: 20px;
    border: blue solid 2px; 
    max-width: 40%;
    list-style-type: none;
}
ul li:nth-child(2) ,ul li:nth-child(6), ul li:nth-child(2) a,ul li:nth-child(6) a{
    color: green;
}

a{
    font-weight: bold;
}
ul li a{
    color: orange;
    text-decoration:underline;
}

li{
    padding: 10px;
    
}
li:hover{
    background-color: rgba(0, 0, 0, 0.1)
}
